.logo-container{
    margin: 0 50px 0;
    width: 100%;

    #logo{
        height: 125px;
        width: 150px;
    }
    #logo:hover{
        opacity: 0.7;
        transform: scale(1.25);
        transition: transform 4s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
}